<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{url_for('planes.static', filename='agregar_plan.css')}}">
</head>
<body class="agregar-plan">
  {% extends "dashboar.html" %}
  {% block content %}
  <div class="plan-card">
    <h2>{{title}}</h2>
    <form method="POST">
      
      <label for="tipo_plan" class="plan-label">Tipo de Plan</label>
        <select class="plan-control" name="tipo_plan" required>
        <option value="Basico">Básico</option>
        <option value="Intermedio">Intermedio</option>
        <option value="Premium">Premium</option>
        <option value="Empresarial">Empresarial</option>
        </select>

      <label for="precio_plan" class="plan-label">Precio</label>
      <input type="number" step="0.01" min="0" class="plan-control" name="precio_plan" required>

      <label for="duracion_plan" class="plan-label">Duración</label>
      <input type="text" class="plan-control" name="duracion_plan" placeholder="Ej: 12 meses" required>

      <label for="categoria_plan" class="plan-label">Categoría</label>
      <input type="text" class="plan-control" name="categoria_plan" required>

      <label for="condiciones_plan" class="plan-label">Condiciones</label>
      <textarea class="plan-control" name="condiciones_plan" rows="4" required></textarea>

      <label for="estado_plan" class="plan-label">Estado</label>
      <select class="plan-control" name="estado_plan" required>
        <option value="1">Activo</option>
        <option value="0">Inactivo</option>
      </select>

      <button type="submit" class="btn-guardar-plan">Agregar</button>
    </form>
  </div>
  {% endblock %}
</body>
</html>
