# Entorno virtual
venv/

# Archivos compilados de Python
__pycache__/
*.pyc

# Bases de datos locales
*.sqlite3
*.db

# Configuración de VS Code
.vscode/

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Variables de entorno
.env
