.formulario {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 50px;
  border-radius: 10px;
}

.text {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 20px;
}
.input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  background: #ffffff;
  color: #6c6c6c;
  font-size: 15px;
}

.input:focus {
  outline: none;
  border-color: #7c3bed;
  box-shadow: 0 0 0 5px rgba(124, 59, 237, 0.08);
}

.buton {
  margin-top: 40px;
  padding: 15px;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  background: #7c3bed;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.roles {
  display: flex;
  flex-direction: column;
  margin: 0px 900px 0 0;
}

.password-wrapper {
  position: relative;
  width: 100%;
}
.password-wrapper input {
  width: 100%;
  padding-right: 55px;
  box-sizing: border-box;
}
.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggle-password img {
  width: 22px;
  height: 22px;
  pointer-events: none;
}
.toggle-password:hover {
  opacity: 0.7;
}
