/*estilo de los botones usuario, permisos*/
.title {
  font-size: 1.875rem;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 3rem;
}

.opcionaes-con {
  display: flex;
  gap: 0.75rem;
  margin-bottom: 2rem;
}

nav a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 6px;
  text-decoration: none;
  color: inherit;
  transition: background 1s ease, color 0.3s ease;
}

nav a img {
  width: 20px;
  height: 20px;
  transition: filter 1s ease;
}

nav a:hover {
  background: #eee;
}
nav a.active {
  background: #7c3bed;
  color: white;
}
nav a.active img {
  filter: brightness(0) invert(1); /* blanco */
}
nav a img {
  width: 20px;
  height: 20px;
}

/*estilo de la tabla de usuarios*/

.cont-from {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #e5e7eb;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.search-input {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 16px;
  font-size: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  background: #ffffff;
  color: #111827;
  transition: box-shadow 0.15s ease, border-color 0.15s ease;
  outline: none;
}

.search-input:focus {
  border-color: #6366f1;
  box-shadow: 0 0 0 4px rgba(99, 102, 241, 0.12);
}

.tabla {
  width: 100%;
}

.tabla-head {
  background-color: #f9f8fa;
  border-bottom: 1px solid #e5e7eb;
  border: 1px solid #e5e7eb;
}

.tabla-titulo {
  padding: 1rem 1.5rem;
  text-align: left;
  font-size: 0.75rem;
  font-weight: 600;
  color: #8e8e8e;
  text-transform: uppercase;
}

.tabla-body {
  border-top: 1px solid #e5e7eb;
  background-color: #ffffff;
}

.tabla-cont {
  transition: color 0.2s ease, background-color 0.2s ease;
  border: 1px solid #e5e7eb;
}
.tabla-cont:hover {
  background-color: #f9fafb;
}
.cont-cont {
  padding: 1rem 1.5rem;
  font-size: 0.875rem;
  color: #4b5563;
}

.rol {
  padding-left: 0.75rem; /* px-3 */
  padding-right: 0.75rem;
  padding-top: 0.25rem; /* py-1 */
  padding-bottom: 0.25rem;
  border-radius: 9999px; /* rounded-full */
  font-size: 0.75rem; /* text-xs */
  font-weight: 600; /* font-semibold */
  background-color: #f3e8ff; /* bg-green-100 */
  color: #7e22ce;
}
