<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link
      rel="stylesheet"
      href="{{url_for('familiares.static', filename='familiares.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body class="familiares">
    {% extends "dashboar.html" %} {% block content %}
    <section class="opciones">
      <h1>{{title}}</h1>
      <div class="opciones_bt">
        <div class="content-buscar">
          <form
            name="formSearch"
            method="post"
            action="{{ url_for('familiares.buscador') }}"
            class="cont_busc"
          >
            <input
              type="search"
              name="buscar"
              class="buscar"
              placeholder="Buscar {{title}}..."
            />
            <button type="submit" class="btn_buscar">
              <img src="/static/icons/buscar.svg" alt="Buscar" />
            </button>
          </form>
        </div>
        {% if session.get("permisos", {}).get("crear_registros") %}
        <a href="{{ url_for('familiares.agregar') }}" class="agregar">
          <img
            class="ico_agregar"
            src="/static/icons/servicios.svg"
            alt="Agregar"
          />
          Agregar
        </a>
        {% else %}
        <a href="javascript:void(0)" onclick="sinPermiso()" class="agregar">
          <img
            class="ico_agregar"
            src="/static/icons/servicios.svg"
            alt="Agregar"
            style="opacity: 0.5; cursor: not-allowed"
          />
          Agregar
        </a>
        {% endif %} {% if session.get("permisos", {}).get("exportar_datos")%}
        <a href="{{url_for('familiares.exel')}}" class="descargar"
          ><img src="/static/icons/descargar.svg" alt="descargar" />EXCEL</a
        >
        {% else %}
        <a href="javascript:void(0)" onclick="sinPermiso()" class="descargar"
          ><img
            src="/static/icons/descargar.svg"
            alt="descargar"
            style="opacity: 0.5; cursor: not-allowed"
          />EXCEL</a
        >
        {% endif %}
      </div>
    </section>
    <section class="tabla">
      <div class="titulo">
        <p>nombre</p>
        <p>parentesco</p>
        <p>telefono</p>
        <p>estado</p>
        <p>acciones</p>
      </div>
      {% for f in familiares %}
      <div class="contenido">
        <p>{{ f['f_nombre'] }} {{ f['f_apellido'] }}</p>
        <p>{{ f['f_parentesco'] }}</p>
        <p>{{ f['f_telefono'] }}</p>
        <p>
          <td>
            <span
              class="{{ 'text-green' if f['f_estado'] == 1 else 'text-red' }}"
            >
              {{ 'Activo' if f['f_estado'] == 1 else 'Inactivo' }}
            </span>
          </td>
        </p>
        <div class="acciones">
          {% if session.get("permisos", {}).get("editar_registros") %}
          <a href="{{ url_for('familiares.editar', id=f['id_familiar'])}}">
            <img src="/static/icons/editar.svg" alt="editar" />
          </a>
          {% else %}
          <a href="javascript:void(0);" onclick="sinPermiso()">
            <img
              src="/static/icons/editar.svg"
              alt="editar"
              style="opacity: 0.5; cursor: not-allowed"
            />
          </a>
          {% endif %} {% if session.get("permisos", {}).get("ver_registros") %}
          <a href="{{ url_for('familiares.VerDetalles', id=f['id_familiar']) }}"
            ><img src="/static/icons/ver.svg" alt="cambiar estado"
          /></a>
          {% else %}
          <a href="javascript:void(0);" onclick="sinPermiso()">
            <img
              src="/static/icons/ver.svg"
              alt="ver"
              style="opacity: 0.5; cursor: not-allowed"
            />
          </a>
          {% endif %} {% if session.get("permisos",
          {}).get("eliminar_registros") %}
          <a
            href="{{ url_for('familiares.cambiar_estado', id=f['id_familiar']) }}"
            onclick="return confirm('¿Seguro que deseas cambiar el estado de este registro?')"
            ><img src="/static/icons/borrar.svg" alt="cambiar estado"
          /></a>
          {% else %}
          <a href="javascript:void(0);" onclick="sinPermiso()">
            <img
              src="/static/icons/borrar.svg"
              alt="cambiar estado"
              style="opacity: 0.5; cursor: not-allowed"
            />
          </a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </section>
    {% endblock %}
  </body>
</html>
