<!DOCTYh4E html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewh4ort" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{url_for('familiares.static', filename='familiares.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="familiares">
    {% extends "dashboar.html" %}
    {% block content %}
    <section class="opciones">
        <h1>{{title}}</h1>
        <div class="opciones_bt">
            <div class="content-buscar">
                <img src="/static/icons/buscar.svg" alt="Buscar">
                <input type="text" class="buscar" placeholder="Buscar {{title}}...">
            </div>
            <a href="{{ url_for('familiares.agregar') }}" class="agregar"><img class="ico_agregar" src="/static/icons/servicios.svg" alt="Agregar">Agregar</a>
            <a href="{{url_for('familiares.exel')}}" class="descargar"><img src="/static/icons/descargar.svg" alt="descargar">EXCEL</a>
        </div>
    </section>
    <section class="tabla">
        <div class="titulo">
            <p>nombre</p>
            <p>parentesco</p>
            <p>telefono</p>
            <p>estado</p>
            <p>acciones</p>
        </div>
        {% for f in familiares %}
        <div class="contenido">
            <p>{{ f['f_nombre'] }} {{ f['f_apellido'] }}</p>
            <p>{{ f['f_parentesco'] }}</p>  
            <p>{{ f['f_telefono'] }}</p>
            <p>
                <td>
                    <span class="{{ 'text-green' if f['f_estado'] == 1 else 'text-red' }}">
                        {{ 'Activo' if f['f_estado'] == 1 else 'Inactivo' }}
                    </span>
                </td>
            </p>  
            <div class="acciones">
                <a href="{{ url_for('familiares.editar', id=f['id_familiar'])}}"><img src="/static/icons/editar.svg" alt=""></a>
                <a href="{{ url_for('familiares.VerDetalles', id=f['id_familiar']) }}"><img src="/static/icons/ver.svg" alt="cambiar estado"></a>
                <a href="{{ url_for('familiares.cambiar_estado', id=f['id_familiar']) }}" onclick="return confirm('¿Seguro que deseas cambiar el estado de este registro?')"><img src="/static/icons/borrar.svg" alt="cambiar estado"></a>
            </div>
        </div>
        {% endfor %}
    </section>
    {% endblock %}
</body>
</html>