<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{url_for('fallecidos.static', filename='detalle_fallecido.css')}}">
</head>

<body>
    {% extends "dashboar.html" %}
    {% block content %}

    <div class="container-servicio">
        <div class="header-bar">
            <div class="header-left">
                <h2>{{ title }}</h2>
                <div class="numero-serv">ID: {{ fallecidos['id_fallecido'] }}</div>
            </div>
        </div>

        <div class="content-grid">
            <div class="panel">
                <div class="panel-titulo">Información Personal</div>

                <div class="info-item">
                    <div class="info-label">Nombre Completo</div>
                    <div class="nombre-destacado">{{ fallecidos['nombre_f'] }}</div>
                </div>

                <div class="info-item">
                    <div class="info-label">Edad</div>
                    <div class="info-value">
                        <span class=" badge-edad">{{ fallecidos['edad_f'] }} años</span>
                    </div>
                </div>

                <div class="info-item">
                    <div class="info-label">Fecha de Defunción</div>
                    <div class="info-value">{{ fallecidos['fecha_defuncion']|replace('-', '/') }}</div>
                </div>

                <div class="info-item">
                    <div class="info-label">Estado</div>
                    <div class="">
                        {% if fallecidos['estado_f'] == 1 %}
                        <span class="badge badge-activo">Activo</span>
                        {% else %}
                        <span class="badge badge-inactivo">Inactivo</span>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="panel">
                <div class="panel-titulo">Información del Sistema</div>

                <div class="info-item">
                    <div class="info-label">Fecha de Registro</div>
                    <div class="info-value">{{ fallecidos['fechaRegistro_f']|replace('-', '/') }}</div>
                </div>

                <div class="info-item">
                    <div class="info-label">Última Actualización</div>
                    <div class="info-value">{{ fallecidos['fechaActualizacion_f']|replace('-', '/') }}</div>
                </div>
            </div>
        </div>

        <div class="footer-actions">
            <a href="{{ url_for('fallecidos.listar') }}" class="btn-regresar">Regresar</a>
        </div>
    </div>

    {% endblock %}
</body>

</html>