<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link
      rel="stylesheet"
      href="{{url_for('configuracion.static', filename= 'agregar_usuario.css')}}"
    />
  </head>
  <body>
    {% extends "configuracion.html" %} {% block options %}

    <form class="formulario" action="" method="POST">
      <label class="text" for="nombre">Nombre de usuario:</label>
      <input class="input" type="text" id="nombre" name="nombre" required />

      <label class="text" for="contraseña">Contraseña:</label>
      <input
        class="input"
        type="password"
        id="contraseña"
        name="contraseña"
        required
      />

      <div class="roles">
        <label class="text" for="rol">Rol del usuario:</label>
        <select class="input" name="rol" id="rol" required>
          <option value="0">Elige un rol</option>
          <option value="1">Administrador</option>
          <option value="2">Usuario</option>
        </select>
      </div>

      <input class="buton" type="submit" value="Agregar Usuario" />
    </form>

    {% endblock %}
  </body>
</html>
