<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>

    <link
      rel="stylesheet"
      href="{{ url_for('configuracion.static', filename='configuracion.css')}}"
    />
  </head>
  <body>
    {% extends "dashboar.html" %} {% block content %}
    <section>
      <h1 class="title">configuracion</h1>
    </section>

    <section class="opcionaes-con">
      <nav>
        <a
          href="{{ url_for('configuracion.index') }}"
          class="{% if request.endpoint.startswith('configuracion.index') %}active{% endif %}"
        >
          <img
            src="{{ url_for('static', filename='icons/familiares.svg') }}"
            alt="usuarios"
            class="{% if request.endpoint == 'configuracion' %}active{% endif %}"
          />
          Usuarios
        </a>
      </nav>

      <nav>
        <a
          href="{{ url_for('configuracion.permisos') }}"
          class="{% if request.endpoint.startswith('configuracion.permisos') %}active{% endif %}"
        >
          <img
            src="{{ url_for('static', filename='icons/permisos.svg') }}"
            alt="Permisos"
            class="{% if request.endpoint == 'configuracion' %}active{% endif %}"
          />
          Permisos
        </a>
      </nav>
    </section>

    {% block options %}
    <div class="cont-from">
      <form
        action="/buscar"
        meth
        class="tabla-titulo"
        od="GET"
        aria-label="Buscar"
      >
        <input
          id="search"
          name="q"
          type="search"
          placeholder="Buscar..."
          class="search-input"
        />
      </form>
    </div>
    <table class="tabla">
      <thead class="tabla-head">
        <tr>
          <th class="tabla-titulo">Usuario</th>
          <th class="tabla-titulo">Rol</th>
          <th class="tabla-titulo">Permisos</th>
        </tr>
      </thead>
      <tbody class="tabla-body">
        {% for u in index%}
        <tr class="tabla-cont">
          <td class="cont-cont">{{u['nombre_u']}}</td>
          <td class="cont-cont">
            <span class="rol">
              {{ 'Admin' if u['rol_id'] == 1 else 'Usuario' }}
            </span>
          </td>
          <td class="cont-cont">{{u['total_permisos']}}</td>
        </tr>

        {% endfor %}
      </tbody>
    </table>

    {% endblock %} {% endblock %}
  </body>
</html>
