<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>

    <link
      rel="stylesheet"
      href="{{ url_for('configuracion.static', filename='configuracion.css')}}"
    />
  </head>
  <body>
    {% extends "dashboar.html" %} {% block content %}
    <section>
      <h1 class="title">configuracion</h1>
    </section>

    <section class="opcionaes-con">
      <nav>
        <a
          href="{{ url_for('configuracion.index') }}"
          class="{% if request.endpoint.startswith('configuracion.index') %}active{% endif %}"
        >
          <img
            src="{{ url_for('static', filename='icons/familiares.svg') }}"
            alt="usuarios"
            class="{% if request.endpoint == 'configuracion' %}active{% endif %}"
          />
          Usuarios
        </a>
      </nav>

      <nav>
        <a
          href="{{ url_for('configuracion.permisos') }}"
          class="{% if request.endpoint.startswith('configuracion.permisos') %}active{% endif %}"
        >
          <img
            src="{{ url_for('static', filename='icons/permisos.svg') }}"
            alt="Permisos"
            class="{% if request.endpoint == 'configuracion' %}active{% endif %}"
          />
          Permisos
        </a>
      </nav>
      <nav>
        <a
          href="{{ url_for('configuracion.agregar_usuario') }}"
          class="{% if request.endpoint.startswith('configuracion.agregar_usuario') %}active{% endif %}"
        >
          <img
            src="{{ url_for('static', filename='icons/agregar_user.svg') }}"
            alt="Agregar_usuarios"
            class="{% if request.endpoint == 'configuracion' %}active{% endif %}"
          />Agregar Usuario
        </a>
      </nav>
      <nav>
        <a
          href="{{ url_for('configuracion.seguridad') }}"
          class="{% if request.endpoint.startswith('configuracion.seguridad') %}active{% endif %}"
        >
          <img
            src="{{ url_for('static', filename='icons/seguridad.svg') }}"
            alt="seguridad"
            class="{% if request.endpoint == 'configuracion' %}active{% endif %}"
          />Seguridad
        </a>
      </nav>
    </section>

    {% block options %}
    <div class="cont-from">
      <form
        name="formSearch"
        method="POST"
        action="{{ url_for('configuracion.buscador') }}"
        class="search-form"
      >
        <button type="submit" class="search-button">
          <img src="/static/icons/buscar.svg" alt="Buscar" />
        </button>
        <input
          type="search"
          name="buscar"
          placeholder="Buscar {{title}}..."
          class="search-input"
        />
      </form>
    </div>

    <table class="tabla">
      <thead class="tabla-head">
        <tr>
          <th class="tabla-titulo">Usuario</th>
          <th class="tabla-titulo">Rol</th>
          <th class="tabla-titulo">Permisos</th>
          <th class="tabla-titulo">Acciones</th>
        </tr>
      </thead>
      <tbody class="tabla-body">
        {% for usuario in index%}
        <tr class="tabla-cont">
          <td class="cont-cont">{{usuario['nombre_u']}}</td>
          <td class="cont-cont">
            <span class="rol">
              {{ 'Admin' if usuario['rol_id'] == 1 else 'Usuario' }}
            </span>
          </td>
          <td class="cont-cont">{{usuario['total_permisos']}}</td>
          <td class="cont-cont">
            <form
              action="{{ url_for('configuracion.eliminar_usuario', usuario_id=usuario['id_usuario']) }}"
              method="POST"
            >
              <button type="submit" class="btn">
                <img src="/static/icons/borrar.svg" alt="el" />
              </button>
            </form>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>

    {% endblock %} {% endblock %}
  </body>
</html>
