<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link
      rel="stylesheet"
      href="{{url_for('cotizacion.static', filename='cotizacion.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>

  <body>
    {% extends "dashboar.html" %} {% block content %}
    <section class="opciones">
      <h1>{{title}}</h1>
      <div class="opciones_bt">
        <div class="content-buscar">
          <form
            name="formSearch"
            method="post"
            action="{{url_for('cotizacion.buscador')}}"
            class="cont_busc"
          >
            <input
              type="search"
              name="buscar"
              class="buscar"
              placeholder="Buscar {{title}}..."
            />

            <button type="submit" class="btn_buscar">
              <img src="/static/icons/buscar.svg" alt="Buscar" />
            </button>
          </form>
        </div>
        {% if session.get("permisos", {}).get("cotizaciones", {}).get("crear")
        %}
        <a href="{{ url_for('cotizacion.agregar') }}" class="agregar">
          <img
            class="ico_agregar"
            src="/static/icons/servicios.svg"
            alt="Agregar"
          />Agregar
        </a>
        {% else %}
        <a href="javascript:void(0);" onclick="sinPermiso()" class="agregar">
          <img
            class="ico_agregar"
            src="/static/icons/servicios.svg"
            alt="Agregar"
            style="opacity: 0.5; cursor: not-allowed"
          />Agregar
        </a>
        {% endif %}
      </div>
    </section>
    <section class="tabla">
      <div class="titulo">
        <p>Numero Cotizacion</p>
        <p>Cliente</p>
        <p>Fecha</p>
        <p>Monto</p>
        <p>Estado</p>
        <p>Acciones</p>
      </div>
      {% for c in cotizacion %}
      <div class="contenido">
        <p>{{ c['numero_cot'] }}</p>
        <p>{{ c['nombre_cliente'] }}</p>
        <p>{{ c['fecha_cot']|replace('-', '/') }}</p>
        <p>S/.{{ c['monto_cot'] }}</p>
        <p>
          <td>
            <span
              class="{{ 'text-green' if c['estado_cot'] == 1 else 'text-red' }}"
            >
              {{ 'Activo' if c['estado_cot'] == 1 else 'Inactivo' }}
            </span>
          </td>
        </p>
        <div class="acciones">
          {% if session.get("permisos", {}).get("cotizaciones",
          {}).get("editar") %}
          <a href="{{ url_for('cotizacion.editar', id=c['id_cotizacion']) }}">
            <img src="/static/icons/editar.svg" alt="editar" />
          </a>
          {% else %}
          <a href="javascript:void(0);" onclick="sinPermiso()">
            <img
              src="/static/icons/editar.svg"
              alt="editar"
              style="opacity: 0.5; cursor: not-allowed"
            />
          </a>
          {% endif %} {% if session.get("permisos", {}).get("cotizaciones",
          {}).get("ver") %}
          <a
            href="{{ url_for('cotizacion.VerDetalles', id=c['id_cotizacion']) }}"
            ><img src="/static/icons/ver.svg" alt="cambiar estado"
          /></a>
          {% else %}
          <a href="javascript:void(0);" onclick="sinPermiso()">
            <img
              src="/static/icons/ver.svg"
              alt="cambiar estado"
              style="opacity: 0.5; cursor: not-allowed"
            />
          </a>
          {% endif %} {% if session.get("permisos", {}).get("cotizaciones",
          {}).get("exportar") %}
          <a
            href="{{ url_for('cotizacion.descargar_pdf', id=c['id_cotizacion']) }}"
            target="_blank"
            ><img src="/static/icons/pdf.svg" alt="descargar_pdf"
          /></a>
          {% else %}
          <a href="javascript:void(0);" onclick="sinPermiso()">
            <img
              src="/static/icons/pdf.svg"
              alt="descargar_pdf"
              style="opacity: 0.5; cursor: not-allowed"
            />
          </a>
          {% endif %} {% if session.get("permisos", {}).get("cotizaciones",
          {}).get("eliminar") %}
          <a
            href="{{ url_for('cotizacion.cambiar_estado', id=c['id_cotizacion']) }}"
            onclick="return confirm('¿Seguro que deseas eliminar este registro?')"
            ><img src="/static/icons/borrar.svg" alt="borrar"
          /></a>
          {% else %}
          <a href="javascript:void(0);" onclick="sinPermiso()">
            <img
              src="/static/icons/borrar.svg"
              alt="borrar"
              style="opacity: 0.5; cursor: not-allowed"
            />
          </a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </section>
    <!-- Modal oculto al inicio -->
    <div id="detallesModal" class="modal">
      <div class="modal-content">
        <div id="contenidoModal">
          <!-- Aquí se cargará dinámicamente el detalle -->
        </div>
      </div>
    </div>
    <div class="table-footer">
      <p>{{ total }} {{title}} registrados</p>
      <div class="pagination">
        {% if page > 1 %}
        <a
          href="{{ url_for('cotizacion.listar', page=page-1) }}"
          class="nav-btn"
        >
          <img
            src="/static/icons/derecha.svg"
            alt="Anterior"
            class="arrow-icon left"
          />
        </a>
        {% endif %}

        <span>
          {{ (page * per_page) if (page * per_page) < total else total }} de {{
          total }}
        </span>

        {% if page < total_pages %}
        <a
          href="{{ url_for('cotizacion.listar', page=page+1) }}"
          class="nav-btn"
        >
          <img
            src="/static/icons/derecha.svg"
            alt="Siguiente"
            class="arrow-icon right"
          />
        </a>
        {% endif %}
      </div>
    </div>
    {% endblock %}
  </body>
</html>
