<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    {% extends "dashboar.html" %}
    {% block content %}
    <h2>{{title}}</h2>
    <p><strong>Numero de Cotizacion:</strong> {{ cotizacion['numero_cot'] }}</p>
    <p><strong>Familiares asociados:</strong>
    {% if familiares %}
        {% for f in familiares %}
            {{ f.f_nombre }} {{ f.f_apellido }}{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% else %}
        No hay familiares asociados
    {% endif %}
    </p>

    <p><strong>Plan de Cremación:</strong>
    {% if plan %}
        {{ plan.tipo_plan }} 
    {% else %}
        No hay Plan de Cremación
    {% endif %}
    </p>
    
    <p><strong>Servicios seleccionados:</strong>
    {% if servicios %}
        {% for s in servicios %}
            {{ s.tipo_serv }}{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% else %}
        No hay servicios seleccionados
    {% endif %}
    </p>
    <p><strong>Fecha de Cotizacion:</strong> {{ cotizacion['fecha_cot']|replace('-', '/') }}</p>
    <p><strong>Monto de cotizacion:</strong> S/.{{ cotizacion['monto_cot'] }}</p>
    <p><strong>Validacion:</strong> {{ cotizacion['validacion_cot'] }}</p>
    <p><strong>Estado:</strong> 
        {% if cotizacion['estado_cot'] == 1 %}
            Activo
        {% else %}
            Inactivo
        {% endif %}
    </p>

    
    <a href="{{ url_for('cotizacion.listar') }}" class="btn-regresar">Regresar</a>
    {% endblock %}
</body>
</html>