<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Cotizacionn</title>
  <meta name="description" content="Invoice demo sample">
  <link rel="stylesheet" href="{{url_for('cotizacion.static', filename='pdf.css')}}">
</head>

<body>
  <h1>COTIZACIÓN</h1>

  <aside>
    <address id="from">
      Crematorio Virgen de la Natividad
      RUC: 20450359051
      Teléfono 1: +51 931 112 364
      Teléfono 2: +51 928 496 439
    </address>




    <address id="to">
      {% if cliente %}
        <strong>Cliente:</strong> {{ cliente.nombre }}
        {% if cliente.correo %}
            <strong>Correo:</strong> {{ cliente.correo }}
        {% endif %}
      {% else %}
        No hay cliente asociado
      {% endif %}
    </address>


  </aside>
  <dl id="informations">
    <dt>N° DE RESIVO</dt>
    <dd>{{ cotizacion['numero_cot'] }}</dd>
    <dt>FECHA</dt>
    <dd>{{ fecha_actual| replace('-','/')}}</dd>
  </dl>
  <table>
    <thead>
      <tr>
        <th>Description</th>
        <th>Precio unitario</th>
        <th>Cantidad</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {% if plan %}
          {{ plan.tipo_plan }}
          {% else %}
          No hay plan seleccionado
          {% endif %}
        </td>
        <td>
          {% if plan %}
          S/.{{ plan.precio_plan }}
          {% endif %}
        </td>
        <td>{{plan.cantidad}}</td>
        <td>
          {% if plan %}
          S/.{{ plan.precio_plan }}
          {% endif %}
        </td>
      </tr>
      <tr>
        {% if servicios %}
        {% for s in servicios %}
      <tr>
        <td>{{ s.tipo_serv }}</td>
        <td>S/.{{ s.precio_serv }}</td>
        <td>{{s.Cantidad}}</td>
        <td>S/.{{ s.precio_serv * s.Cantidad }}</td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td colspan="4">No hay servicios seleccionados</td>
      </tr>
      {% endif %}

      <td></td>
      <td></td>
      </tr>
    </tbody>
  </table>
  <footer>
    <table id="total">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>TOTAL</td>
          <td></td>
          <td> S/.{{ cotizacion['monto_cot'] }}</td>
        </tr>
      </tbody>
    </table>
  </footer>
</body>

</html>