<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% extends "dashboar.html" %}
    {% block content %}
    <h2>{{title}}</h2>

    <form method="POST">
        <label for="Tipo">Tipo de Servicio:</label><br>
        <input type="text" name="tipo_serv" value="{{ servicioss['tipo_serv'] }}" required><br><br>

        <label for="Descripcion">Descripcion del Servicioss:</label><br>
        <textarea name="descripcion_serv" rows="4" cols="40" required>{{ servicioss['descripcion_serv'] }}</textarea><br><br>

        <label for="categoria_serv">Categoria del Servicioss:</label><br>
        <input type="text" name="categoria_serv" value="{{ servicioss['categoria_serv'] }}"><br><br>

        <label for="precio_serv">Precio del Servicioss:</label><br>
        <input type="number" step="0.01" min="0" name="precio_serv" value="{{ servicioss['precio_serv'] }}"><br><br>

        <label for="proveedor_id">Proveedor:</label><br>
        <input type="text" name="proveedor_id" value="{{ servicioss['proveedor_id'] }}" required><br><br>

        <label for="estado_serv">Estado</label>
        <br>
        <select  name="estado_serv" required>
            <option value="1">Activo</option>
            <option value="0">Inactivo</option>
        </select>
        <br><br>

        <button type="submit">Guardar</button>
    </form>
    {% endblock %}
</body>
</html>