.content{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/*estilo del formulario*/
.content-for{
    background-color: #ffffff;
    display: grid;
    padding: 20px;
    border-radius: 10px;
    border: solid #c0c0c0 1px;
}
.content-for h5{
    font-weight: 700;
    margin-bottom: 20px;
}

/*estilo para el texto de tosas las opciones*/
.text{
    font-weight: 700;
}

/*estilo de la opcion de id*/
.campo_id{
    background-color: #F4F2EE;
    border: solid #c0c0c0 1px;
    border-radius: 5px;
    width: 600px;
    height: 40px;
    padding: 0 0 0 10px;
    color: #c0c0c0;
    border: none;
}

/*estilo de la opcion de clientes*/
.campo_name{
    background-color: #F4F2EE;
    border: solid #c0c0c0 1px;
    border-radius: 5px;
    width: 600px;
    height: 40px;
    padding: 0 0 0 10px;
    transition: all 0.3s ease;
    border: none;
}
.campo_name:focus {
    background-color: #F4F2EE; /* Azul clarito */
    outline: none;
}

.campo_name option {
    background-color: #F4F2EE; /* Fondo blanco */
    color: black;
}

/*estilo de la opcion de planes*/
.campo_plan{
    background-color: #F4F2EE;
    border: solid #c0c0c0 1px;
    border-radius: 5px;
    width: 600px;
    height: 40px;
    padding: 0 0 0 10px;
    transition: all 0.3s ease;
    border: none;
}
.campo_plan:focus {
    background-color: #F4F2EE; 
    outline: none;
}

.campo_plan option {
    background-color: #F4F2EE; 
    color: black;
}

/*estilo de las opciones de plan*/
.campo_servicios {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px; 
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    user-select: none;
    gap: 10px;
    margin-bottom: 6px;
}
.campo_servicios input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    height: 15px;
    width: 15px;
    border-radius: 4px;
    border: 1px solid #999;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}
.checkmark::after {
    content:"";
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
}
.campo_servicios input:checked ~ .checkmark {
    background: #7C3BED;
    border-color: #7C3BED;
}
.campo_servicios input:checked ~ .checkmark::after {
    display: block;   
}
.nombre {
    flex-grow: 1; /* ocupa el espacio disponible */
    margin-left: 6px;
}
.precio {
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 2px 10px;
    font-weight: bold;
    color: #000000;
    font-size: 13px;
}

/*estilo de la opcion de fechas*/
.campo_fecha{
    background-color: #F4F2EE;
    border: solid #c0c0c0 1px;
    border-radius: 5px;
    padding: 5px 450px 5px 15px;
    color: #000000;
    border: none;
}

/*estilo de la opcion de monto*/
.campo_monto{
    background-color: #F4F2EE;
    border: solid #c0c0c0 1px;
    border-radius: 5px;
    width: 600px;
    height: 40px;
    padding: 0 0 0 10px;
    color: #c0c0c0;
    border: none;
}

/*estilo de la opcion de validacion*/
.campo_validacion{
    background-color: #F4F2EE;
    border: solid #c0c0c0 1px;
    border-radius: 5px;
    width: 600px;
    height: 40px;
    padding: 0 0 0 10px;
    color: #000000;
    border: none;
}

/*estilo de la opcion de estado*/
.campo_estado{
    background-color: #F4F2EE;
    border: solid #c0c0c0 1px;
    border-radius: 5px;
    width: 600px;
    height: 40px;
    padding: 0 0 0 10px;
    transition: all 0.3s ease;
    border: none;
}



/*--------------------------------------------------------------*/


/*estilo del resumen de la cotizacion*/
.content_resumen{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 480px;
    border-radius: 10px;
    border: solid #c0c0c0 1px;
}
.content_resumen h5{
    font-weight: 700;
    margin-bottom: 15px;
}
.content_resumen h6{
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ddddddb1;
}


.resumen-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    padding: 12px;
    margin: 5px 0;
    border-radius: 8px;
    background-color: #F4F2EE;
    font-weight: 500;
}
.total {
    display: flex;
    justify-content: space-between;
       padding: 8px 0;
    border-top: 2px solid #ddddddb1;   
    border-bottom: 2px solid #ddddddb1;
}
.butom_guardar{
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #7C3BED;
    color: white;
    font-weight: 700;
}
.butom_cancelar{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #F4F2EE;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
}