<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agregar {{title}}</title>
  </head>
  <body>
    {% extends "dashboar.html" %} {% block content %}
    <h2>Agregar {{title}}</h2>
    <form method="POST">
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" required />

      <label for="Telefono">Telefono</label>
      <input type="text" name="Telefono" required />

      <label for="correo">correo</label>
      <input type="email" name="correo" required />

      <label for="servicio">Servicio</label>
      <input type="text" name="servicio" required />

      <label for="fechaRegistro">Fecha Registro</label>
      <input type="date" name="fechaRegistro" required />

      <label for="estado">Estado</label>
      <select name="estado">
        <option value="1">Activo</option>
        <option value="0">Inactivo</option>
      </select>

      <button type="submit">Agregar</button>
    </form>
    {% endblock %}
  </body>
</html>
